.form {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 25px;
}

.stance,
.name,
.obstacle,
.tutorial,
.submit {
  font-size: 12px;
  padding: 5px 15px;
  margin: 5px;
  border-radius: 8px;
  width: 15%;
  border: 1px solid transparent;
  background-color: rgb(127, 193, 240);
}